* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

html {
    font-size: 24px;
}

body {
    background-color: black;
    color: whitesmoke;

    text-align: center;
}

#container {
    border-left: 2px dashed whitesmoke;
    border-right: 2px dashed whitesmoke;
    /*border-radius: 25%;*/

    /*display: flex;
    flex-direction: column;
    justify-content:top;*/

  
    height: 100vh;
    max-width: 900px;
    margin: auto;
    padding: 75px 30px 0;

    font-family: 'Nova Mono', monospace;
    text-shadow: lightblue 0 0 10px;
    box-shadow: inset lightblue 0 0 200px -100px;
}

#rounds-left {
    height: 33px;
    margin-bottom: 25px;
    font-size: 0.8rem;
}

#score {
    font-size: 1.3rem;
}

#counters,
#symbols {
    display: flex;
    justify-content: center;

    text-shadow: lightblue 0 0 25px;
}

#counters {
    font-size: 3.3rem;
    font-family: 'Monoton', cursive;
}

#counters span {
    width: 80px;
    text-align: center;
}

#symbols span {
    width: 50px;
    height: 40px;
    text-align: center;
    font-family: 'Noto Emoji', monospace;
}

#player-symbol {
    transform: scaleX(-1) rotate(-60deg);
}

#comp-symbol {
    transform: rotate(-60deg);
}

#score.green-glow,
#score .green-glow,
#info-symbol.green-glow {
    color: lightgreen;
    text-shadow: green 0 0 25px;
}

#score.red-glow,
#score .red-glow,
#info-symbol.red-glow {
    color: tomato;
    text-shadow: red 0 0 25px;
}

#score .small-fist {
    font-size: 0.85em;
    position: relative;
    top: 5px;
}

#prompt-window {
    margin: 80px 0px 50px;
    /*height: 264px;*/

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#prompt {
    display: flex;
    flex-direction: column;
    gap: 11px;
    margin-bottom: 42px;
}

#info-symbol {
    height: 50px;
    font-family: 'Noto Emoji', monospace;
    font-size: 1.6rem;
}

#prompt-window hr {
    background: whitesmoke;
    border-radius: 50%;
    box-shadow: 0px 0px 25px 1px lightblue;
    /*margin-bottom: 15px;*/
}

#choices {
   /* margin: 150px 0;*/
    display: flex;
    justify-content: center;
    gap: 50px
}

button {
    width: 85px;
    height: 85px;
    transition: ease-out 0.1s;

    color: whitesmoke;
    font-size: 1.5rem;
    font-family: 'Noto Emoji', monospace;
    text-shadow: lightblue 0 0 20px;
    background-color: black;

    border: 4px double whitesmoke;
    border-radius: 50%;
    box-shadow: lightblue 0 0 50px -12px;
}

button#start span {
    position: relative;
    bottom: 3px;
    left: 4px;
    font-size: 1.5em;
}

button#reset span {
    position: relative;
    top: 7px;
    left: 1px;
    font-size: 1.1em;
}

button.green-glow {
    color: lightgreen;
    text-shadow: green 0 0 25px;

    border-color: lightgreen;
    box-shadow: green 0 0 50px -12px;
}

button:hover {
    text-shadow: lightblue 0 0 30px;
    box-shadow: lightblue 0 0 50px -6px;
}

button:active {
    text-shadow: lightblue 0 0 10px;
    box-shadow: lightblue 0 0 50px -0px;
}

button.green-glow:hover {
    text-shadow: green 0 0 30px;
    box-shadow: green 0 0 50px -6px;
}

button.green-glow:active {
    text-shadow: green 0 0 10px;
    box-shadow: green 0 0 55px -0px;
}

button.hide {
    display: none;
}

@media (max-width: 450px) {

    html {
        font-size: 18px;
    }

    #info-symbol {
        height: 38px;
    }

    #prompt {
        gap: 8px;
        margin-bottom: 32px;
    }

    button {
        width: 64px;
        height: 64px;
    }

    button#reset span {
        top: 4px;
    }
}
